html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    background-color: #17A589;
    color: white;
    display: flex;
    justify-content: center;
    padding:1%;
    position: relative;
    margin: 0;
    height: 20px;
    width: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    /* font-family: "Archivo Black", sans-serif; */
    z-index: 1; 
    gap: 20px;  
}

.nav a {
    text-decoration: none;
    color: rgb(251, 253, 255);
    text-transform: capitalize;
    display: block;

}
.background-image {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url('Y0oiFU.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
 
} 

.background-image h1{
    padding-top: 50px;
    font-size: 50px;
}
.search-box {
    position: absolute;
    bottom: 50%;
    text-align: center;
    transform: translateX(50%);
    padding-bottom: 2px; 
    position: center;
    padding-left: 5%;
    padding-top: 500px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.search-box input {
    padding: 8px;
    border: solid white 1px;
    box-sizing: border-box;

}
.search-box button {
    padding: 5px 10px;
    background-color: #17A589;
    border: solid white 1px;
    margin-left: 0;
    height: 33px;
    left: 0%;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    display: inline-block;
    margin: 20px auto 10px 10px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3);

}

.card p {
    padding:0 20px;
}
.about-tour {
    padding-left: 1%;
    padding-right: 50%;
    text-align: justify;
    margin-left: 25px;

}

/* .headings {
    font-family: "Varela Round", sans-serif;
    font-size: medium;
    font-style: bold;
} */
.photo-gallery {
    text-align: center;
    margin-top: 20px;
}
.photo-gallery h2 {
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

.gallery {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 5%;
}

.photos {
    display: flex;
    scroll-snap-type: x mandatory;
    text-align: center;
    border-radius: 3px;

  

}

.photo {
    scroll-snap-align: start;
    flex: 0 0 auto;
    margin-right: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    height: 50%;
    
}

.photo p {
    padding: 0%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    height: 20px;
    
}

.arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    left: 0;
}

.right-arrow {
    position: absolute;
    right: 0;
}

.footer {
    background-color: #17A589;
    text-align: center;
    padding: 10px;
    height: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 20px; 
    color: #333; /* Set color for the icons */
    font-size: 35px;
}

.social-icons a:hover {
    color: #007bff; /* Set hover color for the icons */
}


